%card-stats{
  hr{
    margin: 5px 15px;
  }
}


.card-stats{
    .card-body{

        .numbers{
          text-align: center;
          font-size: 1em;

            p{
                margin-bottom: 0;
            }
            .card-category {
              color: $dark-gray;
              font-size: 12px;
              line-height: 1.4em;
            }
        }
    }
    .card-footer{
        padding: 0px 15px 15px;

        .stats{
          color: $dark-gray;
        }

        hr{
          margin-top: 10px;
          margin-bottom: 15px;
        }
    }
    .icon-big {
        font-size: 2em;
        min-height: 64px;

        i{
            line-height: 59px;
        }
    }


}
